apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: { { .Values.service.type } }
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: { { .Values.frontend.port } }
